PORT=3000
WEBHOOK_VERIFY_TOKEN=camaron_token_secreto_2026
GEMINI_API_KEY=tu_api_key_de_gemini
WHATSAPP_TOKEN=tu_token_de_whatsapp_cloud_api
PHONE_NUMBER_ID=tu_phone_number_id_de_whatsapp
SPREADSHEET_ID=1KAGC1aSrjqUQyXNthFZpsS32-hKraZnfgEM2w5nywBw
